.hero1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding-bottom: 500px;
  &--25vh {
    height: 25vh;
  }
  &--50vh {
    height: 50vh;
  }
  &--75vh {
    height: 75vh;
  }
  &--100vh {
    height: 100vh;
  }
  &.aligned-center {
    .hero1__content-container {
      justify-content: center;
    }
  }
  &.aligned-left {
    .hero1__content-container {
      justify-content: flex-start;
      padding-left: 2.5rem;
    }
  }
  &.aligned-right {
    .hero1__content-container {
      justify-content: flex-end;
      padding-right: 2.5rem;
    }
  }
  &__bg-img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__content-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  &__body {
    margin-bottom: 2rem;
  }
  &__btn {
    padding: 15px 30px;
    background: white;
    color: gray;
    text-align: center;
    width: 200px;
    border-radius: 12px;
    font-weight: 700;
    font-size: 0.9rem;
  }
}
