.header3 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      cursor: pointer;
    }
  }
  &__collections-nav {
    margin-bottom: 0;
    padding-left: 0;
    a {
      padding-right: 20px;
      display: 'inline-block';
    }
  }
  &__collection-link {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out;

    .collection-link__sub-links {
      visibility: hidden;
      opacity: 0;
      background: black;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
      position: absolute;
      padding: 20px 0;
      min-width: 150px;
      top: 20px;
      left: 0;

      a {
        color: #2c2952;
        font-size: 0.9rem;
        display: block;
        padding: 10px 20px;
        &:hover {
          color: red;
        }
      }
    }
    &:hover {
      .collection-link__sub-links {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__logo {
    a {
      font-size: 2rem;
      font-family: 'Patua One', cursive;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
