@use './reset';
@use '../components/layouts/components.scss';
@use './bootstrap/scss/bootstrap';

body {
  background-color: #f7f9ff;
}
a {
  text-decoration: none;
  &:hover {
    color: red;
    cursor: pointer;
  }
}
.fixed-nav {
  &.transparent-nav {
    .header {
      background: black;
      a {
        color: white;
      }
    }
  }
}

#shopify-section-header {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.fas.fa-bars:hover,
.fas.fa-times:hover {
  cursor: pointer;
}
