@use './reset';
@use '../components/layouts/components.scss';
@use './bootstrap/scss/bootstrap';

body {
  background-color: #f7f9ff;
}
a {
  text-decoration: none;
  &:hover {
    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}
.fixed-nav {
  &.transparent-nav {
    .header {
      background: transparent;
      a {
        color: white;
      }
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
}
