@use './reset';
@use '../components/layouts/components.scss';
@use './bootstrap/scss/bootstrap';

body {
  background-color: #e1e2e7;
}
.fixed-nav {
  &.transparent-nav {
    .header {
      background: transparent;
      a {
        color: white;
      }
    }
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
}
