.side-nav {
  position: relative;
  .side-navbar {
    z-index: 100;
    width: 200px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: black;
    transition: 0.5s all ease-in-out;
  }

  .my-container {
    transition: 0.5s all ease-in-out;
  }

  .active-nav {
    margin-left: 0;
  }

  /* for main section */
  .active-cont {
    margin-left: 180px;
  }

  #menu-btn {
    color: #fff;
    margin-left: -62px;
  }
}
